<div>
    <table>
        <thead>
            <tr>
                <td>Exercise Name</td>
                <td># of Sets</td>
                <td># of Reps</td>
                <td>Weight</td>
            </tr>
        </thead>
        <tbody *ngIf="workoutLogs">
            <tr *ngFor="#log of workoutLogs">
                <td>{{log.getExerciseName()}}</td>
                <td>{{log.getNumOfSets()}}</td>
                <td>{{log.getNumOfReps()}}</td>
                <td>{{log.getWeight()}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <form *ngIf="addingLog">
        <input [(ngModel)]="newWorkoutLog.exerciseName"
            required ngControl="name" #name="ngForm" />

        <input [(ngModel)]="newWorkoutLog.numOfSets"
            required ngControl="sets" #sets="ngForm" />

        <input [(ngModel)]="newWorkoutLog.numOfReps"
            required ngControl="reps" #reps="ngForm" />

        <input [(ngModel)]="newWorkoutLog.weight"
            required ngControl="weight" #weight="ngForm" />

        <button (click)="addLog()" [disabled]="!name.valid || !sets.valid || !reps.valid || !weight.valid">
            Add Log!
        </button>
        <button (click)="resetNewLog()">Cancel</button>
    </form>
    <button (click)="addingLog = true;">New Workout Log</button>
</div>

<div>
    <button (click)="saveSession(workoutLogs)">SYNC</button>
</div>
